<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net452" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Oracle.DataAccess.x86.4" version="4.112.3" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SqlServerCe_unofficial" version="4.0.8482.1" targetFramework="net452" />
</packages>